<div class="row">
  <div *ngIf="ipl[0]">
    <h3>{{ipl[0].name}}</h3>
    <p>{{ipl[0].website}}</p>
    <p>{{ipl[0].phonenumber}}</p>
    <img src="{{ipl[0].image}}" alt="">
  </div>

  <div *ngIf="ipl[1]">
    <h3>{{ipl[1].name}}</h3>
    <p>{{ipl[1].website}}</p>
    <p>{{ipl[1].phonenumber}}</p>
    <img src="{{ipl[1].image}}" alt="">
  </div>
  <div *ngIf="ipl[2]">
    <h3>{{ipl[2].name}}</h3>
    <p>{{ipl[2].website}}</p>
    <p>{{ipl[2].phonenumber}}</p>
    <img src="{{ipl[2].image}}" alt="">
  </div>
</div>
<div class="row">
  <div *ngIf="ipl[3]">
    <h3>{{ipl[3].name}}</h3>
    <p>{{ipl[3].website}}</p>
    <p>{{ipl[3].phonenumber}}</p>
    <img src="{{ipl[3].image}}" alt="">
  </div>

  <div *ngIf="ipl[4]">
    <h3>{{ipl[4].name}}</h3>
    <p>{{ipl[4].website}}</p>
    <p>{{ipl[4].phonenumber}}</p>
    <img src="{{ipl[4].image}}" alt="">
  </div>
  <div *ngIf="ipl[5]">
    <h3>{{ipl[5].name}}</h3>
    <p>{{ipl[5].website}}</p>
    <p>{{ipl[5].phonenumber}}</p>
    <img src="{{ipl[5].image}}" alt="">
  </div>
</div>
<div class="column">
  <div *ngIf="ipl[6]">
    <h3>{{ipl[6].name}}</h3>
    <p>{{ipl[6].website}}</p>
    <p>{{ipl[6].phonenumber}}</p>
    <img src="{{ipl[6].image}}" alt="">
  </div>

  <div *ngIf="ipl[7]">
    <h3>{{ipl[7].name}}</h3>
    <p>{{ipl[7].website}}</p>
    <p>{{ipl[7].phonenumber}}</p>
    <img src="{{ipl[7].image}}" alt="">
  </div>

</div>
